<div class="page-header">
    <h1>
        <%= title %> <small>Base on Node.JS</small>
    </h1>
</div>
<p>
    Server is <strong>developed</strong> now, <em>version dev-0.0.1</em>.
</p>
<div>
    <img src="/images/nodejs.png" />
    <img src="/images/redis.png" style="vertical-align: middle;margin-top: 16px;"/>
</div>