<% for(var index=0; index <= projects.length; index++) { %>
<li role="presentation" <% if (projectId == projects[index]['id']) {%>class="active"<%}%>>
	<a href="/main/project/<%= projects[index]['id'] %>" role="menuitem" tabindex="-1">
		<i class="<%=: projects[index] | projectLevelIcon %>"></i>

		<%= projects[index]['name'] %>
	</a>
</li>
<% } %>
